### 1 - Python Crash Course
##### Quick and Easy Refresh of the Crash Course

In [16]:
import pandas as pd
import numpy as np

#### Basic Math

In [17]:
print(1*3)
print(1+1)
print(1/1)
print(2**4)
print(5%2)

3
2
1.0
16
1

#### Basic Variables

In [18]:
x = 1
y = 150
print(x+y)
print(x-y)

151
-149

#### Strings

In [19]:
ex_string = "string"
double = "double"
test = "test" + " " + "yes"

print(double)
print(ex_string)
print(test)

double
string
test yes

In [20]:
print("My name is {}, my number is {}" .format('Armand',"08131875072"))

My name is Armand, my number is 08131875072

#### Lists and Arrays

In [24]:
first_array = [1,2,3]
string_array = ['a', 'b', 'c']
matrix_array = np.array([[1, 2, 3], [4, 5, 6]])


print(first_array)
print(string_array)
print(matrix_array)
#indexing
print(string_array[-1])

[1, 2, 3]
['a', 'b', 'c']
[[1 2 3]
 [4 5 6]]
c

In [39]:
print(string_array)
#list inside of a list
mylist = [1,2, [100,200]]

print(mylist)
print(mylist[2])

['a', 'b', 'c', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd']
[1, 2, [100, 200]]
[100, 200]

#### Dictionaries

In [41]:
dict1 = {
    'key1' :'yes',
    'key2' : 'no',
    'key3' : 'maybe'    
}
print(dict1)
dict1['key3']

{'key1': 'yes', 'key2': 'no', 'key3': 'maybe'}

'maybe'

#### Truthy & Falsey Values

In [42]:
True
False
print(True)

True

#### Tuples & Sets

In [45]:
#Tuples are immutable,, values cannot be changed
tuple1 = (1, 2 ,3)
print(tuple1)

#sets are unordered collection of unique elements
set1 = {1, 2 ,3, 4, 5}
print(set1)

(1, 2, 3)
{1, 2, 3, 4, 5}

#### Boolean and Logic Operator Values

In [5]:
#true or false equality values
x1 = 'a' == 'a'
y1 = (1 < 0)
y2 = ('1' == 1)

#operators
z1 = (1 == 1) and ('a' == 'a') and (3==3)

print(x)
print(y1)
print(y2)
print(z1)

True
False
False
True

#### Basic If, Elif, Statements

In [7]:
if 1 == 2:
    print("that's wrong")
elif 3 == 3:
    print("that's right")
else:
    print("ok")

that's right

#### For Loops

In [12]:
#for loops
seq_list = [1,2,3,4,5]
for i in seq_list:
    print(i)

print("--------------")
seq_list2 = [10,9,8,7,6,5,4,3,2,1]
for i in seq_list2:
    print((i+i)*2)

1
2
3
4
5
--------------
40
36
32
28
24
20
16
12
8
4

#### While Loops

In [13]:
i = 1
#while condition is true, run print command
while i < 5:
    print("i is {}". format(i))
    i =i + 1

i is 1
i is 2
i is 3
i is 4

#### Range Functions and List Comprehension

In [25]:
#ranges
v = [1,2,3,4,5,6,10,15,16]
v2 = list(range(2,5))
print(v[:5])
print(v2)
for x in range(5):
    print('hi')

[1, 2, 3, 4, 5]
[2, 3, 4]
hi
hi
hi
hi
hi

In [28]:
#list comprehension
x0 = [1,2,3,4,5,6]
out = []
for num in x0:
    out.append(num**2)

print(out)

[num**2 for num in x0]

[1, 4, 9, 16, 25, 36]

[1, 4, 9, 16, 25, 36]

#### Functions

In [33]:
def my_func(greeting):
    print("test hello"+ greeting)
my_func(' good morning')

def square(x):
    return x**2

result = square(100)
print(result)

test hello good morning
10000