### 3 - Pandas
#### Part 1, Series Objects

In [9]:
import pandas as pd
import numpy as np

#### Start Pandas Series Examples

In [10]:
myindex = ['USA', 'Canada', 'Mexico', 'Brazil']
mydata = [1776, 1867, 1832, 1817]
#create a series object
myser = pd.Series(data=mydata, index=myindex)
print(myser)

USA       1776
Canada    1867
Mexico    1832
Brazil    1817
dtype: int64

In [11]:
#grab series intro
myser[0]

1776

In [12]:
myser['USA']

1776

In [13]:
#creating a series from a dictionary
ages = {'Sam': 5, 'Frank': 10, 'Dawg': 7}
#pass the dict to panda series
pd.Series(ages)

Sam       5
Frank    10
Dawg      7
dtype: int64

#### Simple Pandas Exercise

In [14]:
expenses = pd.Series({'Andrew':200,'Bob':150,'Claire':450})
print(expenses)

Andrew    200
Bob       150
Claire    450
dtype: int64

In [15]:
#bob's expense
bob_expense = expenses['Bob']
bob_expense

150

#### Part 02, Series

In [18]:
#Imaginary Sales Data
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

#conver this into a pandas series
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
print("q1 sales data:")
print(sales_q1)
print("q2 sales data:")
print(sales_q2)

q1 sales data:
Japan     80
China    450
India    200
USA      250
dtype: int64
q2 sales data:
Brazil    100
China     500
India     210
USA       260
dtype: int64

In [21]:
#grab items
sales_q2['India']
#return back index object like this:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [25]:
#perform operations on both pandas series
print(sales_q1 * 7)
print(sales_q2 / 9)

Japan     560
China    3150
India    1400
USA      1750
dtype: int64
Brazil    11.111111
China     55.555556
India     23.333333
USA       28.888889
dtype: float64

In [28]:
#calculate both sales, while fixing the NaN values
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [29]:
#use dtype
sales_q2.dtype

dtype('int64')