### 15 - Text Methods for String Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
email = 'jose@email.com'
email.split('@')

['jose', 'email.com']

In [3]:
#create a list of names for examples
names = pd.Series(['andrew', 'bobo', 'claire', 'david', '5'])
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [4]:
#uppercase every string in a pandas series
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [5]:
#find out if object is digit
'5'.isdigit()

True

In [6]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

#### Split and Turn into a Dataframe

In [8]:
#create objects
tech_finance = ['GOOG, APPL, AMZN'  , 'JPM, BAC, GS']
tickers = pd.Series(tech_finance)
tickers

0    GOOG, APPL, AMZN
1        JPM, BAC, GS
dtype: object

In [11]:
#split objects in tech_finance Series
tickers.str.split(',', expand=True)

      0      1      2
0  GOOG   APPL   AMZN
1   JPM    BAC     GS

In [12]:
#grab items off tech series
tech = 'GOOG, APPL, AMZN'
tech.split(',')[0]

'GOOG'

In [13]:
#clean up messy strings
messy_names = pd.Series(['andrew  ', 'bo;bo', '   claire   '])
messy_names

0        andrew
1           bo;bo
2       claire
dtype: object

In [16]:
#use replace method to clean up 
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [ ]:
#can be turned into a function
def cleanup(name):
    name = name.replace(";" , "")
    name = name.strip()
    name = name.capitalize()
    return name