### 17 - Excel in Pandas

In [6]:
import openpyxl
import xlrd
import pandas as pd

In [10]:
df = pd.read_excel('my_excel_file.xlsx', sheet_name='First_Sheet')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [11]:
wb = pd.ExcelFile('my_excel_file.xlsx')
wb.sheet_names

['First_Sheet']

In [16]:
excel_sheet_dict = pd.read_excel('my_excel_file.xlsx', sheet_name=None)
excel_sheet_dict['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15